/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen { zmk,physical-layout = &five_col_layout; };
};

/ {
    behaviors {
        HMShiftR: HMShiftR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMSHIFTR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 34 35 36 5 17 36>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-trigger-on-release;
        };

        HMShiftL: HMShiftL {
            compatible = "zmk,behavior-hold-tap";
            label = "HMSHIFTL";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            hold-while-undecided;
            hold-trigger-on-release;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 29 30 31 32 33 37 38 39>;
        };

        longPress: longPress {
            compatible = "zmk,behavior-hold-tap";
            label = "LONGPRESS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        DVORAK {
            display-name = "DVORAK";
            bindings = <
  &kp SQT   &kp COMMA  &kp PERIOD        &kp P                   &kp Y      &trans  &trans  &kp F      &kp G                    &kp C                      &kp R  &kp L
  &kp A     &kp O      &kp E             &HMShiftL LEFT_SHIFT U  &kp I      &trans  &trans  &kp D      &HMShiftR RIGHT_SHIFT H  &kp T                      &kp N  &kp S
  &kp SEMI  &kp Q      &kp J             &kp K                   &kp X                      &kp B      &kp M                    &kp W                      &kp V  &kp Z
                       &kp LEFT_COMMAND  &lt 1 TAB               &kp SPACE                  &kp ENTER  &lt 2 LEFT_CONTROL       &longPress RGUI BACKSPACE
            >;
        };

        lower_layer {
            display-name = "NUMBER";

            // --------------------------------------------------------------------------------
            // |  1  |  2  |  3  |  4  |  5    |  LCTRL | RCTRL |  6  |  7  |  8  |  9  |  0  |
            // | BT1 | BT2 | BT3 | BT4 | BT5   |  LALT  | RALT  | LFT | DWN |  UP | RGT |     |
            // | BTCR| RGB | RST | BOOT| Unlock|        |       |     |     |     |     |     |
            //                    | GUI |     | SPC   |        | ENT   |     | ALT |

            bindings = <
  &kp N1        &kp N2           &kp N3           &kp N4           &kp N5          &none  &none  &kp N6    &kp N7    &kp N8     &kp N9     &kp N0
  &bt BT_SEL 0  &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4    &none  &none  &kp LEFT  &kp DOWN  &kp UP     &kp RIGHT  &trans
  &bt BT_CLR    &rgb_ug RGB_TOG  &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &studio_unlock                &trans    &trans    &trans     &trans     &trans
                                 &kp LGUI         &trans           &kp SPACE                     &kp LGUI  &trans    &kp SPACE
            >;
        };

        raise_layer {
            display-name = "SYMBOL";

            // -----------------------------------------------------------------------------
            // |  !  |  @  |  #  |  $  |  %  | LCTRL | RCTRL |  ^  |  &  |  *  |  (  |  )  |
            // |     |     |     |     |     |  LALT | RALT  |  -  |  =  |  [  |  ]  |  \  |
            // |     |     |     |     |     |               |  _  |  +  |  {  |  }  | "|" |
            //                    | GUI |     | SPC |               | ENT |     | ALT |

            bindings = <
  &kp EXCL   &kp AT            &kp HASH        &kp DLLR              &kp PRCNT  &none  &none  &kp CARET  &kp AMPS               &kp ASTRK        &kp LPAR  &kp RPAR
  &kp GRAVE  &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp TILDE  &none  &none  &kp MINUS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RBKT  &kp BSLH
  &trans     &trans            &trans          &trans                &trans                   &kp UNDER  &kp PLUS               &kp EQUAL        &kp RBRC  &kp PIPE
                               &kp LGUI        &trans                &kp SPACE                &kp RET    &trans                 &kp RALT
            >;
        };

        Controll {
            display-name = "EXTRA 1";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_2 {
            display-name = "EXTRA 2";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_4 {
            display-name = "EXTRA 4";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_5 {
            display-name = "EXTRA 5";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };

        extra_layer_6 {
            display-name = "EXTRA 6";
            bindings = <
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans
                  &trans  &trans  &trans                  &trans  &trans  &trans
            >;
        };
    };
};
